.day {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 140px;
  border: 1px solid #F0F0F0;
}

.event-name {
  margin: auto;
  background-color: #F3DAEF;
  width: 94%;
}

.event-details {
  border-radius: 5px;
  position: absolute;
  background-color: #F0F0F0;
  box-shadow: 0 0 24px grey;
  width: 260px;
}